.seasonal-startup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;     
  overflow: visible !important;
    z-index: 9999;
  isolation: unset
}
.rememberance-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.skeleton {
  width: 150px;
  animation: skateAcross 6s linear forwards;
}

@keyframes skateAcross {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(100vw);
  }
}

.RD-animation {
  width: 200px;
  animation: fadeInOut 10s ease-in-out forwards;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.snowfall-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 999;
}

/* Each flake is created in the SeasonalStart component */
.snowflake {
  position: absolute;
  top: -10px;
  color: #fff;
  font-size: 10px;
  opacity: 0.9;
  animation: fall linear infinite;
  z-index: 9999;
}

@keyframes fall {
  0% {
    transform: translateY(-10px) rotate(0deg);
  }
  100% {
    transform: translateY(150vh) rotate(360deg); /* fall past bottom */
  }
}


/* --- Santa Animation --- */
.santa-container {
  position: fixed;      /* Stays in view during the animation */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;       /* Full screen */
  z-index: 10000; 
  overflow: visible !important;      /* Above snow */
  pointer-events: none;
}

.santa {
  position: absolute;
  width: 300px;
  animation: flyAcrossUp 8s linear infinite;
}


@keyframes flyAcrossUp {
  0% {
    transform: translateX(70vw) translateY(70vh);
  }
  50% {
    transform: translateX(0vw) translateY(30vh);   /* Middle of screen */
  }
  100% {
    transform: translateX(-120vw) translateY(-10vh); /* Exit top-left */
  }
}


