.seasonal-startup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;      
  overflow: visible; 
}


.skeleton {
  width: 150px;
  animation: skateAcross 6s linear forwards;
}

@keyframes skateAcross {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(100vw);
  }
}

.RD-animation {
  width: 200px;
  animation: fadeInOut 10s ease-in-out forwards;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.santa {
  width: 200px;
  animation: flyAcross 3s ease-in-out forwards;
}

@keyframes flyAcross {
  from {
    transform: translateX(-250px) translateY(0);
  }
  to {
    transform: translateX(100vw) translateY(-50px);
  }
}
