.MyBets{
    color: #B9B7B7
    
}

.header-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px; /* Increase font size */
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 20px; 
  margin-bottom: 20px;
  
}
.btn-outline-orange {
  color: orange;
  border-color: orange;
  border-radius: 5px;
  width: 75%;
  background-color: white;
}

.btn-outline-orange:hover {
  color: white;
  background-color: orange;
  border-color: orange;
}
/* login/Register */
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }
}
@keyframes fadingEdge {
  0%, 100% { box-shadow: 0 0 0 0 rgba(255, 215, 0, 0); }
  50% { box-shadow: 0 0 10px 5px rgba(255, 215, 0, 0.5); }
}
.login-text {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  border: 1px solid #ADD8E6;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  animation: pulsate 1.5s ease-in-out infinite;
}
.register-text {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  border: 1px solid #127b9e;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.favorite-team-btn{
    outline: 2px solid #BF6437;
    background-color: white;
    width: 100%;

  }
  .dropdown-menu{
    width:100%;
    max-height: 100px;
    overflow: scroll;
  }

.logo {
  height: 100px; 
  width: 400px;
  max-width: 600px; 
  
}

.custom-input,
.custom-select {
  border: 5px solid #a5c9ca;
  border-radius: 1rem; 
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1);
  background-color: #eef7f8; 
  color: #333333;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}


.custom-button {
  background-color: #82ada9;
  border-color: #82ada9;
  color: #ffffff; 
  border-radius: 1rem;
  padding: 0.5rem 1rem; 
  transition: background-color .5s ease-in-out, border-color 0.15s ease-in-out;
}

.custom-button:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}


/* bet page*/

.vs-text {
  font-size: 3rem;
  font-weight: bold;
  color: #cda34f; 
  text-shadow: 2px 2px #000; 
}

.set-bet-div{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #cccccc, #ffffff);
  width: 50%;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
  margin-bottom: 2rem;

}
.set-bet-text{
  font-weight:bolder;
  font-size: 1.5rem;
  margin:0px
  
}

.straight-line{
  display: inline-block;
  width: 5rem;
  height: 3px;
  background-color: #000;
  vertical-align: middle;
  margin: 0 10px;
}

.friends-number{
  margin-left: 90%;
  color: white;
}

/* Friend Page*/
@media (max-width: 768px) {
  .set-bet-text {
    font-size: 1rem;
    
  }
  .logo{
    height: 100px; 
    width: 200px;
    max-width: 600px; 
    border-radius: 5%;
  }
  .set-bet-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #cccccc, #ffffff);
    width: 90%;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }
}

/* about page */
.line-divider{
  width: 100%;
  height: 1px;
  background-color: white;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0; 
}
.video-container iframe{
  position: absolute;
  margin-top: 5%;
margin-left: 12%;
  width: 90%;
  height: 90%;
  border-radius: 15px;

}

.video-close-button {
  border-radius: 2rem;
  background-color: red;
  align-self: flex-end; 
  margin-right: .5rem;
  height: 1.5rem;
  font-size: small;
  margin-bottom: .5rem;
}
